.transaction-list {
  background-color: #fff;
  border: 0.2rem solid #ddd;
  &__wrapper {
    background-color: #f7f7f7;
    padding-bottom: 6rem;
  }
}

.transaction-list-item {
  border-top: 0.1rem solid #ddd;
  display: grid;
  grid-template-columns: 5.6rem 5fr 2fr 1.5fr 2.5fr 1fr;
  padding: 1.2rem 2.4rem 1.2rem 1.6rem;
}

.transaction-list__title {
  font-size: 3.2rem;
  line-height: 1.5;
  padding-bottom: 2rem;
  padding-top: 2rem;
  margin: 0;
}

.transaction-list-item__image {
  height: 5.6rem;
  width: 5.6rem;
}

.transaction-list-item span:not(.badge) {
  font-size: 1.6rem;
  line-height: 1.5;
}

.transaction-list-item span {
  align-items: center;
  display: flex;
  justify-content: center;
  a {
    color: #000;
    text-decoration: none;
  }
}

.transaction-list-item span:nth-child(2) {
  justify-content: unset;
}

.transaction-list-item span.price {
  justify-content: flex-end;
  padding: 0 4rem;
}

.transaction-list-item span.job-name {
  padding-left: 2rem;
}

.transaction-list-item span.action {
  button {
    background-color: #1dbf73;
    border: none;
    border-radius: 0.5rem;
    color: #fff;
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 1.5;
    transition: 0.06s linear background-color;
    padding: 0.8rem 2rem;
    &:hover {
      background-color: lighten(#1dbf73, 5%);
    }
    &:focus {
      outline: none;
    }
  }
  &.chat button {
    font-size: 2rem;
    height: 4rem;
    padding: 0;
    width: 4rem;
  }
}

.transaction-list-tab-nav {
  align-items: center;
  display: flex;
}

.transaction-list-tab {
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5;
  padding: 1.2rem 2.4rem;
  position: relative;

  &.active,
  &:hover {
    color: #1dbf73;
  }
  &.active::after {
    content: "";
    position: absolute;
    height: 3px;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #1dbf73;
  }
}

.badge {
  border-radius: 0.5rem;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 450;
  padding: 0.6rem 1.2rem;
  text-transform: uppercase;
  &-gray {
    background-color: #6c757d;
  }
  &-green {
    background-color: #28a745;
  }
  &-orange {
    color: #212529;
    font-weight: bold;
    background-color: #ffc107;
  }
  &-red {
    background-color: #dc3545;
  }
}

.badge-container {
  align-items: center;
  display: flex;
  justify-content: center;
}
