* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box;
}

body,
html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

label {
  display: block;
}

.price-tier {
  border: 0.2rem solid black;
  margin-bottom: 1rem;
  &.active {
    border-width: 0.6rem;
  }
}

.align-left-right {
  padding-left: 12%;
  padding-right: 12%;
}

.breadcrumb {
  span {
    color: #62646a;
    font-size: 1.6rem;
    text-transform: capitalize;
    transform: scaleY(0.9);
    display: inline-block;
    &::after {
      content: "\f105";
      font-family: fontAwesome;
      padding: 0 5px;
    }
  }
}

.pagination {
  text-align: right;
}

.gray-bg {
  align-items: flex-start;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  min-height: 80rem;
}

@import "./styling/base";
